@import "Common.css";

#transition{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: 5000;
}

#transition.active{
    opacity: 1;
}

#spinner-center{
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    position: absolute;
}