<div class="field field-info">
    {{translate('You can download different type of crosshairs from Kenney\'s asset pack, here is the link')}} : 
    <a target="_blank" href="https://www.kenney.nl/assets/crosshair-pack">https://www.kenney.nl/assets/crosshair-pack</a>
</div>
<div class="field field-upload">
    <label>
        {{translate('Custom Crosshair Image')}} (.png)
        <input v-on:change="fileUpload($event.target, 'Crosshair_Image', 'default')" type="file">
    </label>
    <div class="field-thumbnail">
        <img :src="crosshair.default ? crosshair.default : getImage('Crosshair.png')" accept="image/*">
        <button type="button" v-on:click="clearUpload('Crosshair_Image', 'default')" class="pull-right">{{translate('Reset')}}</button>
    </div>
</div>

<div class="field field-upload">
    <label>
        {{translate('Custom Sniper Scope Image')}} (.png)
        <input v-on:change="fileUpload($event.target, 'CustomScope', 'sniper')" type="file">
    </label>
    <div class="field-thumbnail">
        <img :src="crosshair.sniper ? crosshair.sniper : getImage('Scope_Texture.png')">
        <button type="button" v-on:click="clearUpload('CustomScope', 'sniper')" class="pull-right">{{translate('Reset')}}</button>
    </div>
</div>

<div class="field">
    <label> {{translate('Crosshair Size')}} </label>

    <div class="input-slider-wrapper">
        <div class="input-slider-text">
            {{settings.crosshairScale}}
        </div>
        
        <input v-on:change="onSettingsChange()" 
            type="range" min="60" max="100" 
            v-model="settings.crosshairScale">
    </div>
</div>

<div class="field-wrap">
    <div class="field field-checkbox">
        <label for="hideCrosshair">{{translate('Hide Crosshair')}}</label>

        <div class="field-toggle-wrapper">
            <input class="toggle" v-on:change="onSettingsChange()" 
            type="checkbox" id="hideCrosshair"
            v-model="settings.hideCrosshair">
            <label for="hideCrosshair"></label>
        </div>
    </div>
</div>
