/* custom css will be in this file */
::-webkit-scrollbar {
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#fff;
  box-shadow: inset 0 0 5px #4f237c;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border:1px solid #955fcc;
  background: #4f237c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #955fcc; 
}

@media (max-width: 991px) {
    /* Table */
    table, td,
    tr th{
        font-size: 17px!important;
    }
    
    .small-description {
        font-size: 13px!important;
    }

    
    button{
        font-size:14px;
        padding:10px!important;
    }
    
    table small {
        width: calc(100% - 5px);
        font-size: 14px;
        height: 25px;
        line-height: 25px;
    }
    
}

.locked{
    width: 100%;
    height: 79%;
    background: rgba(0, 0, 0, 0.87) url(https://venge.io/files/assets/30431086/1/Lock-Icon.png) no-repeat center center;
    position: absolute;
}
