<div class="field-wrap"> 
    
    <div class="field">
        <div class="label-wrap">
            <label for="adsSensivity">{{translate('Aim Down Sight Sensivity')}}</label>
        </div>
        
        <div class="form-element-wrap">
            <div class="input-slider-wrapper">
                <div class="input-slider-text">
                    {{settings.adsSensivity}}
                </div>
                
                <input id="adsSensivity" v-on:change="onSettingsChange()" 
                    type="range" min="0" max="200" 
                    v-model="settings.adsSensivity">
            </div>
        </div>
    </div>


    <div class="field">
        <div class="label-wrap">
            <label for="sensivity">{{translate('Mouse Sensivity')}}</label>
        </div>
        
        <div class="form-element-wrap">
            <div class="input-slider-wrapper">
                <div class="input-slider-text">
                    {{settings.sensivity}}
                </div>
                
                <input id="sensivity" v-on:change="onSettingsChange()" 
                    type="range" min="0" max="200" 
                    v-model="settings.sensivity">
            </div>
        </div>
    </div>

    <div class="field">
        <div class="label-wrap">
            <label for="invertMouse">{{translate('Invert Mouse (Vertical Axis)')}}</label>
        </div>

        <div class="form-element-wrap">
            <div class="field-toggle-wrapper">
                <input class="toggle" v-on:change="onSettingsChange()" 
                type="checkbox" id="invertMouse"
                v-model="settings.invertMouse">
                <label for="invertMouse">
                    <span v-html="settings.invertMouse == true ? translate('Yes') : translate('No')"></span>
                </label>
            </div>
        </div>
    </div>

</div>


<div id="controls-table" class="table-list-style pull-right">
    <ul class="table-list-header">
        <li>{{translate('Function')}}</li>
        <li>{{translate('Key')}}</li>
        <li>{{translate('Action')}}</li>
    </ul>
    
    <ul class="table-list-content">
        <li v-for="item in keyboardConfiguration">
            <div class="list">
                <span v-if="!item.waiting">{{item.function}}</span>{{item.waiting ? translate('PRESS ANY KEY...') : ''}}
            </div>

            <div class="list">
                <p v-on:click="updateKeyboardBind(item)" class="keyboard-key">{{item.key}}</p>
            </div>

            <div class="list">
                <button v-on:click="resetKeyboardBind(item)" class="table-button secondary-button" type="button">{{translate('Reset')}}</button>
                <button v-on:click="updateKeyboardBind(item)" class="table-button" type="button">{{translate('Update')}}</button>
            </div>
        </li>
    </ul>
</div>
