:root{

    /* Default Colors */
    --black : #3a3a3a;

    /* Primary Colors */
    --primary-color: #9729fe;
    --primary-dark-color: #483294;
    --primary-light-color: #B6A4F1;
    --primary-lighter-color: #F0EBFF;

    /* Second Color */
    --spt-second-color: #00D8D7;
    --spt-second-gray-lighter-color: #F1F2F3;

    --spt-second-color-opacity: 0,216,215,0.1;

    /* Gray Scale */
    --spt-gray-scale-1000-color: #111827;
    --spt-gray-scale-900-color: #1F2937;
    --spt-gray-scale-800-color: #374151;
    --spt-gray-scale-700-color: #4B5563;
    --spt-gray-scale-600-color: #6B7280;
    --spt-gray-scale-500-color: #9CA3AF;
    --spt-gray-scale-400-color: #D1D5DB;
    --spt-gray-scale-300-color: #E5E7EB;
    --spt-gray-scale-200-color: #F3F4F6;
    --spt-gray-scale-100-color: #F9FAFB;

    /* Auxiliary Colors */
    --spt-white-color:#fff;

    --spt-warning-color: #D21313;
    --spt-warning-dark-color: #9F1B2C;
    --spt-warning-light-color: #FBE7E7;

    --spt-success-color: #0BC15C;
    --spt-success-dark-color: #089045;
    --spt-success-light-color: #E7F9EF;

    --spt-info-color: #FFC001;
    --spt-info-dark-color: #E7AD00;
    --spt-info-light-color: #FFF9E6;

    --spt-status-color: #5662F5;
    --spt-status-dark-color: #3C47D2;
    --spt-status-light-color: #EEEFFE;
    
}


body{
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.05rem;
    user-select: none;
}


body *:not(i){
    font-weight: normal!important;
}

::-webkit-scrollbar {
  	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  	background: rgba(0, 0, 0, 0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  	background: rgb(255, 255, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #555; 
}

a, a:hover{
    text-decoration: none !important;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

a{
    color: #fff;
}

.vl{
    margin: 0 10px;
    width: 1px;
    height: 25px;
    background: #818181;
}


canvas, #canvas {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grecaptcha-badge {
	visibility: hidden !important;
}

canvas, #canvas {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header{
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0px;
    top: 0px;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    text-transform: uppercase;  
    z-index: 101;
}

.header-left-wrap,
.header-right-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    margin-right: 25px;
    margin-top: 0px;
    margin-left: 0px;
    background: rgb(66 66 66 / 50%);
    cursor: pointer;
}

.back-button:hover{
    background: rgb(66 66 66 / 80%);
}

#header-menu-items,
#header-info-items{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 0 0 40px;
    padding: 0;
}

#header-info-items{
    float: right;
}

#header-menu-items li,
#header-info-items li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(128, 128, 128);
    border-left: solid 1px rgb(56, 56, 56);
    list-style: none;
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

#header-info-items li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(128, 128, 128);
}

#header-menu-items li i,
#header-info-items li i{
    font-size: 20px;
    margin-right: 10px;
}

#header-menu-items li:first-child{
    border-left: none;
}

#header-info-items li:last-child{
    padding: 0;
}

#header-menu-items li:hover,
#header-info-items li:hover,
#header-info-items li:hover a{
    color: #ddd;
}

#header-menu-items li.active,
#header-info-items li.active{
    color: #fff;
}

#header-menu-items li img,
#header-info-items li img{
    height: 22px;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    opacity: 0.5;
}

#header-menu-items li.active img,
#header-info-items li.active img{
    opacity: 1;
}

#header-menu-items li:hover img,
#header-info-items li:hover img{
    opacity: 1;
}




.tabs{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-left: 1px solid #dedede;
    padding-left: 20px;
}

.tabs li {
    font-size: 23px;
    height: 100%;
    list-style: none;
    margin-right: 20px;
    color: #ccc;
    cursor: pointer;
    text-transform: uppercase;
}

.tabs li.active {
    color: #fff;
    font-weight: 500;
}

.tabs li.active:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 4px;
    color: #fff
}

.tabs li i{
    padding-right: 5px;
}

.subtab{
    height: 60px;
}

.subtab li {
    float: left;
    font-size: 20px;
    list-style: none;
    margin-right: 30px;
    color: #ccc;
    cursor: pointer;
    text-transform: uppercase;
}

.subtab li.active {
    color: #fff;
    font-weight: 500;
    border-bottom: solid 4px #fff;
    padding-bottom: 10px;
}

.subtab li i{
    padding-right: 5px;
}

.column-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
}

.column-wrap.menu-align{
    position: absolute;
    right: 20px;
    bottom: 140px;
    align-items: flex-end;
}

.browser-fix .column-wrap.menu-align{
    transform: scale(var(--scale));
    transform-origin: bottom right;
}

.row-wrap{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

#content{
    padding: 20px 60px;
    top: 60px;
    position: absolute;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 60px - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

#content form{
    width: 100%;
}

#content form.wide{
    width: 70%;
}

#content .content-page{
    width: 100%;
}

.form-field{
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 10px;
    min-height: 60px;
}

.form-field label{
    display: block;
    font-size: 20px;
    width: 100%;
    font-weight: normal;
    margin-bottom: 10px;
}

.form-field input, .form-field select{
    width: 100%;
    box-shadow: inset 0px 2px 7px #a895bb;
    border: solid 1px #9985ae;
    border-radius: 5px;
    font-size: 19px;
    padding: 10px;
    /* margin-right: 10px; */
    box-sizing: border-box;
    outline: 0!important;
}

.btn{
    padding: 13px 30px;
    text-align: center;
    float: right;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:active{
    transform: scale(0.9);
}

.btn small{
    opacity: 0.5;
    margin-top: 3px;
    margin-right: 10px;
    float: left;
}

table .btn{
    font-size: 12px !important;
    margin-right: 5px;
    float: left;
    margin-left: 0px;
}

button{
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    /*font-weight: bold;*/
}

.btn:hover{
    opacity: 0.9;
}

.btn-primary {
    background: green;
    color: #fff;
}

.btn-secondary {
    background: #0f64bd;
    color: #fff;
}

.btn-third{
    background: #ea9f00;
    color: #fff;
}

.btn-fourth{
    background: #666666;
    color: #fff;
}

.btn-side-end {
    margin-left: -10px;
    border-bottom: solid 5px #17487c;
    background: #1e78d8;
    color: #fff;
}

.btn-danger {
    background: #bd0f0f !important;
    color: #fff;
}

.button{
	background-color: #4b8a17;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0px 0.05vw 0.2vw rgb(0 0 0 / 40%);
	padding: 10px 15px !important;
	font-size: 15px;
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	transition: ease all 0.4s;
	border: 1px solid transparent;
}

.button:hover {
    background-color: #fff;
    color: #4b8a17;
    border-color: #4b8a17;
}

.button-cancel{
	background-color: #c21c1c !important;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0px 0.05vw 0.2vw rgb(0 0 0 / 40%);
	padding: 10px 15px !important;
	font-size: 15px;
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	transition: ease all 0.4s;
	border: 1px solid transparent;
}


.tos-text{
    float: left;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-right: 35px;
}

.tos-text.mini-info{
    font-size: 16px!important;
}

#alert{
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.popup #alert{
    margin-bottom: 0;
}

.alert-danger{
    background-color: rgb(255, 38, 0);
}

.alert-info{
    background-color: rgb(75, 138, 23)!important;
}



.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.keyboard-key{
	display: inline-block;
	min-width: 20px;
	margin: 0;
    padding: 10px;
    border-radius: 5px;
	text-align: center;
	color:#555;
	border: 1px solid #000;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
	box-shadow: 0 0 1px #888, 0 1px 0 #fff, 2px 3px 0 #c0c0c0, 0 8px 17px rgb(68 68 68 / 40%), 2px 1px 4px rgb(68 68 68 / 25%), -2px 1px 4px rgb(68 68 68 / 25%), 0 9px 16px rgb(68 68 68 / 10%);
	cursor: pointer;
}

.loader {
	border: 10px solid #e9e9e9;
	border-radius: 50%;
	border-top: 10px solid #4b8a17;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader-center {
	margin-left: auto;
	margin-right: auto;
}

.no-scroll{
    overflow: hidden !important;
    overflow-y: hidden !important;
}

#application-console{
    display: none !important;
}

.wide-space{
    width: 60vw;
}

.wide-thumbnail{
    width: 20vw;
    float: right;
}

.wide-thumbnail img{
    width: 100%;
}

/* Portail */
.portrait-control {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.portrait-control .logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #a4c430;
	padding: 15px 20px;
	box-sizing: border-box;
}

.portrait-control p {
	text-align: center;
	font-size: 26px;
	padding-top: 20px;
	color: #fff;
    zoom:2.3;
}

.browser-fix .portrait-control p{
    padding: 0 20px;
    zoom: initial;
}

.portrait-control .logo-wrap img {
	width: 200px;
    zoom:2.3;
}

.browser-fix  .portrait-control .logo-wrap img{
    zoom:initial;
}

.info-box{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    background: #151515;
    padding: 9px 15px;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
}

.info-box img{
    width: 20px;
    margin-right: 10px;
}

.info-box p{
    margin: 0;
}

.steps-wrapper{
    position: relative;
    margin: 0 auto;
}

.steps-wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left:0;
    margin: 5px auto 45px;
}

.steps-wrapper ul li{
    position: relative;
    padding: 15px;
    background: #606060;
    border-radius: 10px;
    transition: ease-in 0.4s all;
}

.steps-wrapper ul li:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -210%;
    width: 150%;
    height: 1px;
    transform: translateY(-50%);
    border-radius: 7px;
    background: #dedede;
}

.steps-wrapper ul li.active,
.steps-wrapper ul li.completed{
    background: #7f57c9;
    background: linear-gradient(0deg, #4c2f81 0%, #7f57c9 100%);
    text-shadow: 0px 1px 3px #000;
}

.steps-wrapper ul li.active::after,
.steps-wrapper ul li.completed::after{
    background: #7f57c9;
}

.steps-wrapper ul li:last-child::after{
    content: none;
}

.steps-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: calc(100% - 100px);
}

.steps-content-wrapper .slide-box{
    display: inline-block;
    height: 100%;
}

.steps-content-wrapper .steps{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*====== Responsive ======*/
.mobile #content{
    display: flex;
    flex-direction: row;
    top:50px;
    height: calc(var(--vh, 1vh) * 100 - 105px);
    padding: 20px 30px 20px 60px;
}

.mobile .logout-button {
    width: 80px;
}

/* Tablets */
@media only screen and (max-width: 1100px){
    .button{
        font-size: 1.5vw;
    }

    #header{
        height: 45px;
        font-size: 24px;
        top: 10px;
    }

    .back-button{
        width: 45px;
        height: 45px;
        font-size: 30px;
        line-height: 50px;
    }

    #content{
        padding: 25px 45px;
    }

    #header-menu-items, #header-info-items{
        margin: 0 0 0 20px;
    }

    #header-info-items{
        margin: 0;
    }

    #header-menu-items li, #header-info-items li{
        font-size: 19px;
        padding: 0 15px;
    }

    #header-info-items li:not(.balance-list){
        text-indent: -2000px;
    }

     #header-info-items li img{
         margin: 0;
     }

     #header-menu-items li img, 
     #header-info-items li img{
         width: 20px;
     }

    .tabs li {
        font-size: 21px;
    }

    .form-field label,
    .form-field input, .form-field select{
         font-size: 17px;
    }

    .steps-wrapper ul{
        margin: 5px auto 25px;
    }

    .steps-wrapper ul li{
        padding: 10px 15px;
    }

    .steps-content-wrapper{
        min-height: calc(100% - 92px);
    }
   
}

@media only screen and (max-width: 800px){
    .btn{
        padding: 10px 25px;
        font-size: 23px;
    }
}


/* Phone */
@media only screen and (max-width: 550px){
   .flex-align{
       display: flex;
       flex-direction: column;
       align-items:center
   }

   .btn{
        font-size: 22px;
        margin: 0 0 20px 0;
        width: 100%;
   }

    .tos-text{
        width: 100%;
        text-align:center;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#content-banner-area{
    position: absolute;
    left: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    bottom: 0px;
}

#centered-banner{
    width: 728px;
    height: 90px;
    background-color: gray;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    text-shadow: 0px 1px 2px rgb(60, 75, 82);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.account-username {
    display: flex;
    align-items: center;
    flex-direction: row;
}

table .account-username{
    display: initial;
    align-items: initial;
    flex-direction: initial;
}

.verified-icon{
    float: left;
    height: 21px;
    margin-right: 5px;
}

h1 .verified-icon{
    height: 34px;
}

.username-emoji{
    width: 37px;
    margin-right:5px;
}

#content-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#spinner-center{
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    position: absolute;
}

#wrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 100%;
}

[class*=hint--]:after {
	border-radius: 5px;
}

.hint--bottom-left:before, .hint--bottom-right:before, .hint--bottom:before {
    border-bottom-color: #7e35c9!important;
}

[class*=hint--]:after {
	background-color: #7e35c9 !important;
}

[class*=hint--right]:before {
	border-right-color: #7e35c9 !important;
}

[class*=hint--left]:before {
	border-left-color: #7e35c9 !important;
}

.bouncing-icon{
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.banner-area p{
    position: absolute;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}


#message-inbox .message{
    width: 100%;
    display: flex;
    flex-direction: row;
     margin-top: 20px;
    color: #fff;
}

#message-inbox .message:last-child{
	margin-bottom: 20px;
}

#message-inbox .message .username{
	padding: 5px 10px;
    float: left;
    background: #353535;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 5px;
    margin: 0px;
    margin-right: 10px;
}

#message-send-to .suggestions{
	width: 200px;
	overflow: hidden;
}

#message-send-to .suggestions span{
	display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background: #0a5fc7;
    border-radius: 2px;
    margin-left: 5px;
    width: auto;
}

#message-inbox .message .content{
	float: left;
    background-color: #0a5fc7;
    padding: 10px 15px;
    border-radius: 5px;
    width: 400px;
	box-sizing: border-box;
}

#message-inbox .message .content a{
    display: inline-block;
    text-decoration: underline!important;
    word-break: break-word;
}

.message-head-wrapper {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#message-send-to{
	min-width:fit-content;
}

#message-send-to span {
	color: #fff;
	padding: 10px;
	width: 100px;
}

#message-send-to input{
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px #575757;
    border-radius: 6px;
}

#message-send-to input.selected{
	width: 150px;
    background: rgb(10 95 199);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 6px;
    font-weight: bold;
	cursor: pointer;
}

#message-box{
	width: 90%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 18px;
	padding: 10px;
	border: solid 1px #575757;
    border-radius: 6px;
}

#message-inbox{
	display: flex;
    flex-direction: column;
}

/*Slider*/
.slides{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.slide-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.slides .animated {
    transition: all 400ms;
    position: absolute;
    transform: translate(-50%, -50%);
}

.slides .slide-in {
    opacity: 0;
    transform: translate(-40%, -50%);
}

.slides .slide-in-active {
    transition-delay: 150ms;
}

.slides .slide-out {
    opacity: 1;
}

.slides .slide-out-active {
    opacity: 0;
    transform: translate(-55%, -50%);
}

.slide-prev,
.slide-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin-left: -33px;
    border: 2px solid #8f8f8f;
    color: #8f8f8f;
    background: #3c3c3c;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-indent: -2px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slide-next {
    right: 0;
    margin-left: auto;
    margin-right: -13px;
    text-indent: 2px;
}

.slide-prev:hover,
.slide-next:hover{
    background: #221e21;
    color: #fff;
    transform: translateY(-50%) scale(1.1);
}
  
.slide-prev:active,
.slide-next:active {
   transform: translate(0, -60%) scale(1.2);
}

.pagination-wrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 10px;
}

.pagination-wrapper .pagination-bullet{
    width: 9px;
    height: 8px;
    background:#fff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0.4;
    transition: opacity 0.4s ease-in-out,width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pagination-wrapper .pagination-bullet:hover,
.pagination-wrapper .pagination-bullet.active{
    width: 20px;
    opacity: 1;
}

.pagination-wrapper .pagination-bullet:last-child{
    margin-right: 0; 
}


/* ================ Mobile Devices ================ */

.mobile .tabs {
    height: 40px;
}

.mobile .tabs li {
    font-size: 19px;
    margin-right: 20px;
}

.mobile .tabs li.active {
    padding-bottom: 2px;
}

.mobile .subtab {
    height: 50px;
    margin: 10px 0;
}

.mobile .subtab li{
    font-size: 17px;
    margin-right: 15px;
}

.mobile .subtab li.active {
    padding-bottom: 5px;
}

.mobile #header{
    top:10px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

.mobile .back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    font-size: 30px;
    line-height: 1;
}

.mobile #content{
    display: flex;
    flex-direction: row;
    top:50px;
    height: calc(var(--vh, 1vh) * 100 - 115px);
    padding: 20px 30px 20px 60px;
}

.mobile #content-banner-area {
    height: 65px;
}

.mobile #centered-banner {
    width: 95%;
    height: 50px;
}

.mobile .steps-wrapper ul li:after{
    right: -157%;
}

@media (min-device-width: 10px) and (max-device-width: 550px) and (orientation: portrait) {
	.portrait-control{
		display: block;
	}
}