.shadow{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.popup{
    width: 835px;
    height: 480px;
    border: solid 2px #000;
    border-radius: 5px;
    background-color: #464646;
    z-index: 101;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: popup 0.1s linear;
    overflow: hidden;
}

@keyframes popup{
    0%{
        transform: translate(-50%, -50%) scale(0.5);
    }

    80%{
        transform: translate(-50%, -50%) scale(1.05);
    }

    100%{
        transform: translate(-50%, -50%) scale(1.0);
    }
}

.popup-header{
    width: 100%;
    height: 40px;
    background-color: #262626;
    line-height: 40px;
    color: #fff;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 17px;
    text-transform: uppercase;
}

.popup-clickable{
    cursor: pointer;
}

.popup-header .popup-close{
    float: right;
    background-color: #222;
    color: #cbcbcb;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.popup-side-menu{
    float: left;
    width: 239px;
    border-right: solid 1px #262626;
    height: calc(100% - 40px);
    position: absolute;
    background: #323232;
}

.popup-side-menu li{
    display: flex;
    align-items: center;
    /* width: 200px; */
    /* height: 40px; */
    /* border-top: solid 1px rgb(133, 133, 133); */
    /* border-bottom: solid 1px #666; */
    line-height: 40px;
    padding: 7px 15px;
    color: #b9b9b9;
    /* background: #cbcbcb; */
    box-sizing: border-box;
    font-size: 21px;
    cursor: pointer;
    text-transform: uppercase;
}

.popup-side-menu li:hover{
    color: #fff;
}

.popup-side-menu li.active{
    background-color: #ff9502;
    color: #fff;
    /* box-shadow: inset -5px 0px 5px #3d3d3d; */
    /* border-bottom: solid 2px #ffc068; */
    text-shadow: 0px 1px 2px #5c5c5c;
}

.popup-side-menu li img{
    width: 30px;
    margin-right: 10px;
}

.popup-side-menu li i{
    margin-right: 10px;
}

.popup-side-content{
    width: 595px;
    height: calc(100% - 40px);
    position: absolute;
    float: right;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background: #2b2b2b;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup-side-content.full-side{
    width: 100%;
}

.popup-side-content form {
    width: 90%;
    margin: 0 auto;
}

#daily-reward .popup-side-content{
    padding: 0px 0 0 0;
}

.popup-reverse .popup-side-menu{
    float: right !important;
    right: 0;
}

.popup-reverse .popup-side-content{
    float: left !important;
    left: 0;
}

.popup .field{
    width: 100%;
    background-color: transparent;
    padding: 3px 0;
    border: 0;
    margin-bottom: 15px;
}

.popup-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100% - 40px);
}

.popup-right .popup-side-menu,
.popup-right .popup-side-content{
    position: relative;
    float: none;
    box-sizing: border-box;
}

.popup-side-menu h3{
    margin: 0 0 10px 0;
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.04rem;
}

.popup-boxs{
    width: calc(100% - 10px);
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid #585858;
    box-sizing: border-box;
}

.popup-boxs:last-child{
    border-bottom: 0rem;
}

.popup-bottom{
    position: absolute;
    bottom: 0px;
    padding: 10px 15px;
    color: #ccc;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.popup-bottom.popup-bottom-active{
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-bottom:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.popup-primary-button{
    background: rgb(66,137,72);
    background: linear-gradient(0deg, rgb(36 109 42) 0%, rgb(78 201 11) 90%);
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 27px;
    text-shadow: 0px 1px 2px rgb(83 102 79);
    letter-spacing: 0px;
    padding: 22px 20px;
    border: none;
    width: 100%;
    border-left: solid 8px rgb(60 109 24);
    cursor: pointer;
    text-transform: uppercase;
    word-break: break-word;
    position: absolute;
    bottom: 0px;
    height: 75px;
}

.popup-primary-button:hover{
    opacity: 0.9;
}

.popup .chat-wrap{
    width: 100% !important;
}

.popup .chat-box{
    height: 200px;
}

.popup-players{
    margin-top: 5px;
}

.popup-side-menu .popup-players li{
    justify-content: space-between;
    line-height: initial;
    border-bottom: 1px solid #484848;
}

.popup-players span{
    font-size: 15px;
}

.popup-players button{
    cursor: pointer;
    font-size: 16px;
    padding: 2px 10px;
    margin-top: 9px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    background: #f54e4e;
    letter-spacing: 0.05rem;
    border-radius: 5px;
    border-color: #404040;
    outline: no;
}

.invite-settings{
    position: absolute;
    bottom: 70px;
    padding: 15px 20px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #363636;
    background: rgba(0, 0, 0, 0.03);
}

.invite-settings li{
    list-style: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
}

.invite-settings label{
    color: #6a6a6a;
    margin-right: 10px;
}

.waiting-owner{
    width: 100%;
    box-sizing: border-box;
    height: 75px;
    background-color: rgb(47 255 0 / 10%);
    padding: 20px;
    bottom: 0px;
    position: absolute;
    color: #fff;
}

.popup-bottom-content{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    box-sizing: border-box;
    border-top: solid 2px #333;
    left: 0px;
    height: 87px;
}

.popup-bottom-content.right-align{
    justify-content: flex-end;
}

.popup-bottom-content .btn{
    margin: 0;
}

.steps-content-wrapper .popup-bottom-content{
    padding: 15px 40px;
}

.steps-content-wrapper .popup-bottom-content.alert-active{
    bottom: 40px;
}

#popup-item-details{
    height: calc(100% - 150px);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px;
}

#popup-item-details .item-thumbnail{
    height: 100%;
    background: rgb(97,97,97);
    background: radial-gradient(circle, rgba(97,97,97,1) 0%, rgba(31,31,31,1) 100%);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 2px #535353;
    cursor: pointer;
    float: left;
}

#popup-item-details .item-thumbnail.Common{
    background: radial-gradient(circle, rgba(191, 191, 191,1) 0%, rgba(31,31,31,1) 100%);
}
#popup-item-details .item-thumbnail.Uncommon{
    background: radial-gradient(circle, rgba(125, 225, 50,1) 0%, rgba(31,31,31,1) 100%);
}
#popup-item-details .item-thumbnail.Rare{
    background: radial-gradient(circle, rgba(69, 123, 220,1) 0%, rgba(31,31,31,1) 100%);
}
#popup-item-details .item-thumbnail.Legendary{
    background: radial-gradient(circle, rgba(184, 69, 214,1) 0%, rgba(31,31,31,1) 100%);
}
#popup-item-details .item-thumbnail.Mythical{
    background: radial-gradient(circle, rgba(236, 182, 48,1) 0%, rgba(31,31,31,1) 100%);
}
#popup-item-details .item-thumbnail.Anniversary{
    background: radial-gradient(circle, rgba(245, 230, 164,1) 0%, rgba(31,31,31,1) 100%);
}

#popup-text-details{
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    width: 400px;
}

#popup-text-details li{
    list-style: none;
    font-size: 24px;
    margin-bottom: 15px;
}

#popup-text-details li label{
    color: #777;
    width: 200px;
    display: block;
    font-size: 19px;
}

#popup-text-details li span{
    color: #fff;
    text-transform: uppercase;
}

#popup-text-details li span img{
    height: 22px;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}

#popup-text-details li span.original-price{
    font-size: 17px;
    color: #202020;
    text-decoration: line-through;
    display: block;
}

#popup-text-details li span b:nth-child(1){
    color: #5f5f5f;
    border-bottom: solid 2px #5f5f5f;
}

#popup-text-details li span b:nth-child(2){
    color: #6d6d6d;
    border-bottom: solid 2px #6d6d6d;
}

#popup-text-details li span b:nth-child(3){
    color: #7e7e7e;
    border-bottom: solid 2px #7e7e7e;
}

#popup-text-details li span b:nth-child(4){
    color: #828282;
    border-bottom: solid 2px #828282;
}

#popup-text-details li span b:nth-child(5){
    color: #838383;
    border-bottom: solid 2px #838383;
}

.popup-details{
    font-size: 24px;
    margin: 35px auto;
    width: fit-content;
}

.popup-details li{
    padding-bottom: 10px;
}

.popup-result-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.popup-result-text p{
    font-size: 25px!important;
    margin: 15px;
}

.popup-result-text p span{
    font-size: 26px;
    color:rgba(255,162,0,1);
    text-decoration: underline;
}


.popup-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    left: 0px;
    top: 0px;
}

.popup-no-scroll{
    overflow: hidden !important;
}

.popup-bottom-left-text{
    max-width: calc(100% - 240px);
    color: #fff;
    padding: 8px;
}

.popup-bottom-left-text img{
    width: 20px;
    margin-right: 10px;
    float: left;
}

.popup-bottom-left-text p{
    margin: 0px;
    font-size: 21px;
    line-height: 22px;
}

.popup-tab-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow: hidden;
    box-sizing: border-box;
}


.popup-tab-content .subtab, 
.popup-tab-content .tab{
    position: fixed;
    height: initial;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 20px;
    top: 40px;
    background: #2b2b2bfc;
    box-sizing: border-box;
    z-index: 1;
}

.popup-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content-scroll{
    height: 380px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

#messages .popup-content-scroll{
    height: calc(380px - 65px);
}

.popup-content-scroll.no-pad{
    padding: 0;
}

.popup-content-scroll table{
    margin-bottom: 20px;
}

.popup-tab-content #message-send-to {
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popup-tab-content #message-send-to .suggestions{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: initial;
}

.popup .popup-tab-content .field{
    width: fit-content;
}

.popup-tab-content #message-box{
	width: calc(100% - 22px);
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 18px;
	padding: 10px;
	border: solid 1px #575757;
    border-radius: 6px;
}

.popup .alert{
    position: absolute;
    max-width: 60%;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    text-align: left;
    letter-spacing: 0.05rem;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 1;
}

#daily-reward.popup .alert{
    width: 100%;   
    padding: 15px 10px;
    margin: 0;
    text-align: center;
}

/*====== Responsive ======*/

/* Tablets */
@media only screen and (max-width: 1100px){
    .popup{
        width: 90vw;
        height: 85vh;
    }

    .popup-side-menu{
        width: 30%;
    }

    .popup-side-content{
        width: 70%;
    }

    .popup-tab-content{
        height: calc(90vh - 60px);
    }

    .popup-content-scroll{
        height: calc(90vh - 100px);
    }

    #messages .popup-content-scroll {
        height: calc(90vh - 165px);
    }

    .popup-side-menu li,
    .field label{
        font-size: 18px;
    }

    .popup-side-menu li{
        padding: 10px 15px;
        line-height: 1;
    }

    .popup-bottom-content{
        padding: 10px 15px;
    }

    .popup-bottom-left-text p{
        font-size: 17px;
    }

    .popup-result-text{
        margin: 0;
    }

    .popup-result-text p{
        font-size: 20px!important;
        margin: 10px;
    }

    .popup-result-text p span{
        font-size: 21px;
    }
}


/* Mobile */
@media only screen and (max-width: 700px){
    
    .popup-bottom-content{
        height: initial;
        padding: 5px 15px;
    }
    .popup-bottom-left-text p {
        font-size: 15px;
    }
    .popup-bottom-left-text img {
        width: 16px;
    }

    #popup-text-details{
        margin-top: 0;
    }

    #popup-text-details li{
        font-size: 20px;
    }

    #popup-text-details li label{
        font-size: 18px;
    }

    .popup .chat-box{
        height: 130px;
    }

}

.mobile .popup-details{
    font-size: 18px;
    margin: 10px auto;
}

.mobile .steps-content-wrapper .popup-bottom-content{
    position: relative;
    padding: 15px 30px;
}

.mobile #popup-text-details{
    margin-top: 0;
}

.mobile #popup-text-details li{
    font-size: 20px;
    margin-bottom: 10px;
}

.mobile  #popup-text-details li label{
    font-size: 18px;
}

.mobile .popup .chat-box{
    height: 130px;
}
