body {
    background-color: #111111;
    color: white;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none !important
}

.main {
    position: absolute;
    top: 3rem
}

.title {
    width: fit-content;
    z-index: 100;
    font-size: 2.5rem;
    animation: rainbow 2s linear infinite;
    content: url("https://iili.io/HzOGaSf.png");
    position: absolute;
    height: 5rem !important;
    width: 6rem;
    top: 1rem;
    left: 1rem;
}

.cont {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
}

.mod-cont {
    background: #131313;
    margin-bottom: 1rem;
    width: 97vw;
    height: 10rem;
    padding: 1rem;
    border: 5px solid transparent;
    font-weight: 700;
}
   .mod-cont:hover{
    background: linear-gradient(to right, #8a49ff 0.5%, #131313 0.5%) no-repeat !important;
    border: 5px solid #131313 !important;
}

.mod-name {
    padding-top: .5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.mod-desc {
    color: rgb(189, 189, 189)
}

.download {
    position: absolute;
    bottom: 3rem;
    border: 2px solid #52e394;
    color: white;
    height: 2rem;
    width: 10rem;
    border-radius: 3px;
    background: linear-gradient(178.71deg, rgba(101, 213, 139, 0.2) -2.57%, rgba(45, 255, 167, 0.2) 106.96%);
    transition: 0.25s;
    font-weight: 700;
    font-size: 14px;
}

.download:hover {
    background: #6df468;
}

.remove {
    position: absolute;
    bottom: 3rem;
    background: linear-gradient(177.48deg, rgba(137, 4, 20, 0.25) -5.29%, rgba(197, 6, 30, 0.25) 101.55%);
    border: 2px solid #bf061d;
    color: white;
    height: 2rem;
    width: 10rem;
    border-radius: 3px;
    transition: 0.25s;
    font-size: 14px !important;
    font-weight: 700;
}

.remove:hover {
    background-color: rgb(255, 76, 76);
}

.mod-desc {
    font-weight: 500;
}

.download:hover,
.remove:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid transparent;
}

@media only screen and (max-width: 1600px) {
    .mod-cont {
        width: 93vw;
    }
}